*{
    padding: 0px;
    margin: 0px;
    
}
.container{
background-image: url('bgn.png');  
background-size: 100% 100%;
height: 100vh;
background-repeat: no-repeat;

}
.container>.parent-nav{

    height: 100px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    
}
nav{
    
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}
.container>.parent-nav>nav>img{
height: 30px;
width: 30px;    
position: relative;
left: -65px;

}
.container>.parent-nav>nav>a{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
font-size: 15px;
    color: white;
    font-weight: bold;
    text-decoration: none;
    padding: 15px 20px;

}
.container>.parent-nav>nav>a:hover{
    background-color: #ffffff;
    color: #86AA11;
    padding: 15px 20px;
    border-radius: 50px;
   

}
.container>.parent-nav>nav>input{
height: 40px;
width: 170px;
   border-radius: 50px;
   border-style: none;

}
.container>.container-for-text-img{
   
    height: 86vh;
    width:cover;   
    display: flex;
}
.container>.container-for-text-img>.container-right{
    
    width: 50%;
}
.container>.container-for-text-img>.container-right>.child-of-container-right-1{
    padding-left: 20px;
    height: 50%;
    font-size: 100px;
    font-family: 'Fredericka the Great', cursive;
    color: white;

   
}
.container>.container-for-text-img>.container-right>.child-of-container-right-2{
   
    height: 50%;

   
}
.container>.container-for-text-img>.container-right>.child-of-container-right-2>button{
    margin-bottom: 10px;
    margin-left: 20px;
border-style: none;
background-color: white;
color: initial;
font-size: 20px;
border-radius: 35px;
text-transform: uppercase;
font-weight: bold;
font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
height: 50px;
width: 200px;
   
}
.container>.container-for-text-img>.container-right>.child-of-container-right-2>button:hover{
  background-color: #DFDED9;
    color: #BA9E17;
    border-radius: 50px;
   
}
.container>.container-for-text-img>.container-right>.child-of-container-right-2>p{
    padding-left: 20px;
  font-weight: bold;
  color: white;
       
    }
    
.container>.container-for-text-img>.container-left{
   
   width: 50%;
  
 
}
.container>.container-for-text-img>.container-left>img{
    position: relative;
    left: 200px;
  top:70px;
 
}

.container>.container-for-text-img>.container-left>.child-of-container-left{
  position: relative;
bottom: 120px;

}
.container>.container-for-text-img>.container-left>.child-of-container-left>#lead{
  position: relative;
left: 120px;

}
.section-2{
    height: 30vh;
    width: 100%;
   
}
.section-2>.para{
   
    text-align: center;   
}
.section-2>.para>h1{
    font-family: 'Fredericka the Great', cursive;
    font-size: 70px;
    padding-top: 20px;
}
.section-2>.para>p{
    color: black;
    width: 40%;
    margin: auto;
   padding-top: 20px;
   font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.item-options{
display: flex;

height: 70vh;
align-items: center;
justify-content: center;
justify-content: space-evenly;
}
.item-options>div{
    height: min-content;
    width: 250px;
   
}
.item-options>div>img{  
    height: 250px;
    width: 250px;
    
}
.item-options>div>h2,p{
    padding-top: 15px;

}
.section-2-button>button{
    background-color: rgb(46, 46, 46);
    color: white;
    display:flex;
    justify-content:center;
    align-items: center;
    margin: 0px auto;
    height:50px;
    width:250px;
    margin-bottom: 50px;
    border-radius: 50px;
    font-weight:bold;
    font-size: 15px;
}
.section-2-button>button:hover{
    background-color: #CACBB0;
    color: #B83911;
  
    border-radius: 50px;
    
}
.section-3{
    background-color: rgb(46, 46, 46);
height: 400px;
width: 100%;
padding-top: 50px;
}
.section-3>#section-3-heading{
    font-size: 70px;
    
    color: white;
    text-align: center;
    font-family: 'Fredericka the Great',    cursive;

}
.section-3>#cols{
    padding: 0px 20px;
    column-count: 2;
    column-width: 200px;
    column-gap: 20px;
 padding-top: 50px;
    color: white;
}
.section-3>button{
    background-color: rgb(46, 46, 46);
    color: white;
    display:flex;
    justify-content:center;
    align-items: center;
    margin: 0px auto;
    margin-top: 45px;
    height:50px;
    width:250px;
    border-radius: 50px;
    font-weight:bold;
    font-size: 15px;
}
.section-4{
background-color:   #FFEADB;
    height: 100vh;
    width: 100%;
    display: flex;
    
padding-top: 50px;
}
.section-4>.section-4-img{
   width: 50%;
    
}
.section-4>.section-4-txt{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
     
 }
 .section-4>.section-4-txt>h1{
    font-size: 50px;
     
 }
 .section-4>.section-4-txt>p{
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
     width: 70%;
 }
 .section-4>.section-4-txt>button{
    background-color: rgb(46, 46, 46);
 color: white;
 
 
 height:50px;
 width:250px;
 margin-top: 10px;
 border-radius: 50px;
 font-weight:bold;
 font-size: 15px;
   border-style: none;
     
     
 }
 .section-5{
    background-color: #FFEADB;
    height: 100vh;
    width: 100%;
    display: flex;
    padding-top: 20px 20px;
    
}
.section-5>.section-5-img{
   width: 50%;
    
}
.section-5>.section-5-txt{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    padding-left: 20px;
     
 }
 .section-5>.section-5-txt>h1{
    font-size: 50px;
     
 }
 .section-5>.section-5-txt>p{
     color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
     width: 70%;
 }
 .section-5>.section-5-txt>button{
    background-color: rgb(46, 46, 46);
 color: white;
 
 
 height:50px;
 width:250px;
 margin-top: 10px;
 border-radius: 50px;
 font-weight:bold;
 font-size: 15px;
   border-style: none;
     
     
 }
 .section-6{
     background:url('bgn.png') no-repeat;

background-size: 100% 100%;
height: 100vh;
 }
 .section-6>.section-6-child{

   
   }
 .section-6>.section-6-child>h2{
 font-size: 80px;
 font-family: 'Fredericka the Great',    cursive;
 padding-top: 50px;
 color: rgb(255, 255, 255);
 text-align: center;

}
.section-6>.section-6-child>p{
    text-align: center;
 width: 40%;
 margin: 0px auto;
 font-family: Verdana, Geneva, Tahoma, sans-serif;
 color: rgb(255, 255, 255);
   
}

.section-6>.for-img{

    
    position: absolute;
top: 240pc;
left: 400px;
    }
    


.section-6>.for-img>img{
transform: rotate(-5deg);



}
.section-6>.section-6-child>#leaf{
    background-size: contain;
    position: relative;
    left: 0px;
  top: -400px;
    z-index: 1; 
    
    
    }
.section-7{

    height: 100vh;
    width: 100%;
    
    
}
.section-7>.section-7-child{

    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
}
.section-7>.section-7-child>.child-1>h1{
    text-align: center;
    font-family: 'Fredericka the Great',    cursive;

}
.section-7>.section-7-child>.child-1>p{
  font-family: Verdana, Geneva, Tahoma, sans-serif;

}
.section-7>.section-7-child>.child-1{
   padding-top: 100px;
   height: 250px;
   width: 350px;
    
}
.section-7>.section-7-child-2{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px auto    ;
}
.section-7>.section-7-child-2{

   width: 50%;
   height: 40vh;
   
    
}
.section-7>.section-7-child-2>p{

  font-family: Verdana, Geneva, Tahoma, sans-serif;
    
     
 }
 .section-7>.section-7-child-2>button{
     margin-top: 50px;
   height: 40px;
   border-radius: 15px;
   border-style: none;
   color: white;
   width: 150px;
}
 .section-8{
     background-color: #1e2025;
     height: 100vh;
     width: 100%;
     color: white;
     display: flex;
     justify-content: center;
     align-items: center;
     flex-direction: column;
 }
 .section-8>h1{
     font-size: 100px;
    
 }
 .section-8>p{
     font-family: Verdana, Geneva, Tahoma, sans-serif;
width: 70%;   
}
.section-8>.for-button>input{
    margin-top: 50px;
    width: 500px;
  border-radius: 50px 0px 0px 50px;
    height: 40px;
}
.section-8>.for-button>button{
   
  border-radius: 50px;
  position: relative;
  right: 50px;
  border-style: none;
  color: white;
  width: 150px;
    height: 40px;
}
button{
    background-color: rgb(255, 0, 0);
}
.section-9{
    height: 100vh;
    width: 99%;
    display: flex;
    padding-left: 10px;
}
.section-9>.last-1{
    display: flex;
    justify-content: center;
   
width: 50%;
flex-direction: column;

}
.section-9>.last-1>.logo>i{
    

}
.bi.bi-instagram,.bi.bi-meta,.bi.bi-twitter,.bi.bi-whatsapp{
   height: 40px;
    width: 40px;

    margin-top: 20px;
    background-color: black;
    
    color: white;
}
.section-9>.last-1>p{
  width: 70%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;

}
.section-9>.last-2{

    width: 50%;
    display:flex;
    justify-content: center;
    align-items: center;
    
    }
    .section-9>.last-2>div{
    
      height: fit-content;
      width: 200px;
        
        }
        .section-9>.last-2>div>a{
            font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 10px;
          display: block;
          text-decoration: none;
          color: grey;
            }
            .section-9>.last-2>div>a:first-child{
           color: black;
           font-weight: bold;
                }
footer{
    background-color: rgb(34, 34, 34);
    color: white;
    text-align: center;
}